<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-DPR">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{ page_title }}
      {%- if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {% render 'css-variables' %}
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Share+Tech+Mono&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous" defer></script>

    {{ content_for_header }}
</head>
<body class="template-{{ request.page_type | handle }}">
  <div class="crt-effect"></div>

    {% section 'header' %}

    <main role="main" id="MainContent" class="site-main">
        {{ content_for_layout }} </main>

    <footer class="site-footer-terminal">
      <div class="footer-content cyberpunk-container">
        <div class="footer-grid">
          <div class="footer-column">
            <h4 class="footer-heading">//: SUPPORT_GRID ://</h4>
            <ul class="footer-links" role="list">
              {%- for link in linklists['footer-support'].links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- else -%}
                <li><a href="#">Contact</a></li>
                <li><a href="#">Shipping Info</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Policies & Privacy</a></li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="footer-column">
            <h4 class="footer-heading">//: ARMORY_DATABANK ://</h4>
            <ul class="footer-links" role="list">
              {%- for link in linklists['footer-armory'].links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- else -%}
                <li><a href="#">The Proprietor (About)</a></li>
                <li><a href="#">Update Log (Blog)</a></li>
                <li><a href="#">Affiliate Links</a></li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="footer-column footer-social-column">
            <h4 class="footer-heading">//: COMMS_GRID ://</h4>
            <div class="social-links">
                <a href="#" aria-label="Social Link 1"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="Social Link 2"><i class="fab fa-instagram"></i></a>
                <a href="#" aria-label="Social Link 3"><i class="fab fa-artstation"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-lore-text">
            <p>MARKET: SOL_3</p>
            <p>HXC_SATCOM 1234ASDF</p>
          </div>
          <div class="footer-copyright">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
</body>
</html>